* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/font/Montserrat-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/font/NotoSerif-VariableFont.ttf") format("truetype");
  }
  @font-face {
    font-family: "MonteCarlo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/font/MonteCarlo-Regular.ttf") format("truetype");
  }
}

.p-card-body {
  gap: 20px !important;
}
.p-card-title {
  font-size: 20px !important;
  font-weight: bolder !important;
  font-family: "MonteCarlo", sans-serif !important;
}
